.tool-tip {
  height: 100vh;
  background: #333; }
  .tool-tip .container {
    height: 100%; }
    .tool-tip .container .row {
      height: 100%; }
      .tool-tip .container .row .col {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .tool-tip .container .row .col nav {
          padding: 0;
          margin: 0; }
          .tool-tip .container .row .col nav ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style-type: none; }
            .tool-tip .container .row .col nav ul li {
              position: relative;
              width: 20px;
              height: 20px;
              background: #777;
              margin: 0 20px;
              cursor: pointer;
              transition: .5s all ease-in-out;
              border-radius: 50%; }
              .tool-tip .container .row .col nav ul li:hover {
                background: #86ff3b;
                box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b; }
                .tool-tip .container .row .col nav ul li:hover .content {
                  visibility: visible;
                  opacity: 1;
                  transform: translate(-50%, 0px); }
              .tool-tip .container .row .col nav ul li .content {
                position: absolute;
                bottom: 55px;
                width: 400px;
                background: #fff;
                padding: 20px;
                visibility: hidden;
                opacity: 0;
                transition: .5s all ease-in-out;
                transform: translate(-50%, -50px); }
                .tool-tip .container .row .col nav ul li .content::before {
                  content: '';
                  display: block;
                  position: absolute;
                  width: 30px;
                  height: 30px;
                  background: #ffffff;
                  bottom: -15px;
                  left: 194px;
                  transform: rotate(45deg); }
                .tool-tip .container .row .col nav ul li .content h2 {
                  padding: 0;
                  margin: 0;
                  font-size: 1.2em;
                  margin-bottom: 5px; }

.typing-text-menu-hover {
  height: 100vh; }
  .typing-text-menu-hover .container {
    height: 100%; }
    .typing-text-menu-hover .container .row {
      height: 100%; }
      .typing-text-menu-hover .container .row .col {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .typing-text-menu-hover .container .row .col nav {
          margin: 0;
          padding: 0; }
          .typing-text-menu-hover .container .row .col nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0; }
            .typing-text-menu-hover .container .row .col nav ul li {
              margin: 0 20px;
              font-size: 4em; }
              .typing-text-menu-hover .container .row .col nav ul li a {
                position: relative;
                color: #eee;
                font-weight: 700;
                text-decoration: none; }
                .typing-text-menu-hover .container .row .col nav ul li a::before {
                  content: attr(data-text);
                  display: block;
                  position: absolute;
                  top: -5px;
                  overflow: hidden;
                  color: #262626;
                  white-space: nowrap;
                  transition: .5s all ease-in-out; }
            .typing-text-menu-hover .container .row .col nav ul:hover li a::before {
              animation: typing-text-menu-hover1 1s steps(10) forwards; }
            .typing-text-menu-hover .container .row .col nav ul:hover li:hover a::before {
              animation: typing-text-menu-hover2 1s steps(10) forwards; }

@keyframes typing-text-menu-hover1 {
  0% {
    width: 358px; }
  100% {
    width: 0; } }

@keyframes typing-text-menu-hover2 {
  0% {
    width: 0; }
  100% {
    width: 358px; } }

.pulse-effect-on-click {
  height: 100vh;
  position: relative; }
  .pulse-effect-on-click .circle {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #000000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: pulse .5s linear forwards; }

@keyframes pulse {
  0% {
    width: 0;
    height: 0;
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0; } }
