extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
block body
	section.tool-tip
		.container
			.row
				.col
					nav
						ul
							li
								.content
									h2 Lorem ipsum dolor sit amet consectetur 
									p adipisicing elit. Possimus explicabo sint atque, dolores alias nisi temporibus nemo quam nobis tempore, perferendis
							li
								.content
									h2 Lorem ipsum dolor sit amet consectetur 
									p adipisicing elit. Possimus explicabo sint atque, dolores alias nisi temporibus nemo quam nobis tempore, perferendis
							li
								.content
									h2 Lorem ipsum dolor sit amet consectetur 
									p adipisicing elit. Possimus explicabo sint atque, dolores alias nisi temporibus nemo quam nobis tempore, perferendis
	section.typing-text-menu-hover
		.container
			.row
				.col
					nav
						ul
							li
								a(href="#" data-text="Home") Home
							li
								a(href="#" data-text="About") About
							li
								a(href="#" data-text="Contact") Contact
							li
								a(href="#" data-text="Achivement") Achivement
							li
								a(href="#" data-text="Info") Info
	section.pulse-effect-on-click#pulse
	section.wipe-loadding-page
		.loadding
			div
			div
			div
			div
	section.text-loadding
		.loading(data-text="Loading...") Loading...