extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
block body
	section.tool-tip
		.container
			.row
				.col
					nav
						ul
							li
								.content
									h2 Lorem ipsum dolor sit amet consectetur 
									p adipisicing elit. Possimus explicabo sint atque, dolores alias nisi temporibus nemo quam nobis tempore, perferendis
							li
								.content
									h2 Lorem ipsum dolor sit amet consectetur 
									p adipisicing elit. Possimus explicabo sint atque, dolores alias nisi temporibus nemo quam nobis tempore, perferendis
							li
								.content
									h2 Lorem ipsum dolor sit amet consectetur 
									p adipisicing elit. Possimus explicabo sint atque, dolores alias nisi temporibus nemo quam nobis tempore, perferendis
	section.typing-text-menu-hover
		.container
			.row
				.col
					nav
						ul
							li
								a(href="#" data-text="Home") Home
							li
								a(href="#" data-text="About") About
							li
								a(href="#" data-text="Contact") Contact
							li
								a(href="#" data-text="Achivement") Achivement
							li
								a(href="#" data-text="Info") Info
	section.pulse-effect-on-click#pulse
	section.wipe-loadding-page
		.loadding
			div
			div
			div
			div
	section.text-loadding
		.loading(data-text="Loading...") Loading...
	section.neon-button
		.container
			.row
				.col
					a(href="#")
						span
						span
						span
						span
						| Neon Button
	section.pagination
		.container
			.row
				.col
					nav
						ul
							li
								a.prev(href="#") &lt; Prev
							li.page-numbers.active
								a(href="#") 1
							li.page-numbers
								a(href="#") 2
							li.page-numbers
								a(href="#") 3
							li.page-numbers
								a(href="#") 4
							li.page-numbers
								a(href="#") 5
							li
								a.next(href="#") Next &gt;
	section.gallery.mt-3
		.container
			.row
				.col
					#animated-thumbnials
						a(href='../img/thumb-1.jpg')
							img(src='../img/thumb-1.jpg')
						a(href='../img/thumb-3.jpg')
							img(src='../img/thumb-3.jpg')
						a(href='../img/thumb-4.jpg')
							img(src='../img/thumb-4.jpg')
						a(href='../img/thumb-5.jpg')
							img(src='../img/thumb-5.jpg')
						a(href='../img/thumb-6.jpg')
							img(src='../img/thumb-6.jpg')
						a(href='../img/thumb-7.jpg')
							img(src='../img/thumb-7.jpg')
						a(href='../img/thumb-8.jpg')
							img(src='../img/thumb-8.jpg')
						a(href='../img/thumb-9.jpg')
							img(src='../img/thumb-9.jpg')
						a(href='../img/thumb-10.jpg')
							img(src='../img/thumb-10.jpg')
	section.gallery-video.mt-3
		.container
			.row
				.col
					#video-gallery
						<a href="https://www.youtube.com/watch?v=Z3rilmQV7U8&t=36s" data-poster="../img/thumb-1.jpg" >
							<img src="../img/thumb-1.jpg" />
						</a>
						<a href="https://www.youtube.com/watch?v=b7AGvoqFsdY&t=2418s" data-poster="../img/thumb-3.jpg">
							<img src="img/thumb-3.jpg" />
						</a>